<div class="row">
    <div class="col-lg-3 col-md-3 col-xs-12">
        <div class="flip-container" data-ng-controller="myCtrl as settings">
            <div class="flipper">
                <div class="front">
                    <img class="profile-picture" src="{{picture}}">
                    <div class="profile-devider"></div>
                    <h3 class="profile-name">{{firstName}} {{lastName}}</h3>
                    <h4 class="profile-title">{{position}}</h4>
                </div>
                <div class="back">
                    <div class="flip-padding">{{aboutMe}}</div>
                </div>
            </div>
        </div>
    </div>
</div>