    <div class="modal-header">
        <h3 class="modal-title">{{editOrAdd}}</h3>
    </div>
    <div class="modal-body" ng-hide="movie">
        <form class="form-vertical" role="form">
            <fieldset>
                <div ng-hide="movie">
                    <div class="form-group" >
                        <label for="input-query" class="control-label">SEARCH TITLE</label>
                        <input data-ng-model="querySearchString" type="text" class="form-control" id="input-query" >
                        <button data-ng-click="queryMovie(querySearchString)" class="btn btn-primary">Search movies</button>
                    </div>

                    <div ng-show="results">
                        <h2>Did you mean?</h2>
                        <ul class="list-group">
                            <li class="list-group-item searchResult" data-ng-repeat="result in results | limitTo:10 track by $index" data-ng-click="bindResult(result['id'])">{{result['original_title']}}, released on {{result['release_date']}}</li>
                        </ul>
                    </div>
                </div>
             </fieldset>
         </form>
    </div>
    <div class="modal-body" id="movieDetail" style="background: url({{movie.backdrop}})" ng-show="movie">
        <div><strong>Title: </strong>{{movie.origTitle}}</div>
        <div><strong>Released on: </strong>{{movie.releaseDate}}</div>
        <div><strong>Plot: </strong>{{movie.plot}}</div>
        <div><a ng-href="{{movie.homepage}}">Official website</a></div>
        <div><a ng-href="http://imdb.com/title/{{movie.imdbId}}">View on IMDB</a></div>
    </div>
    <div class="modal-footer">
        <button data-ng-click="deleteMovie()" ng-show="movie" class="btn btn-danger">Delete Movie</button>
        <button data-ng-click="cancel()" class="btn btn-info">Cancel</button>
    </div>