.navbar {
    margin: 0 auto;
    width:100%;
    background: #0D2828;
    color: #fff;
    border:none;
}

body {
   background: #1F6B6B;
}

.mediaItem {
    width:200px;
    height:300px;
    margin-right:20px;
    cursor: hand;
    cursor: pointer;
}

.mediaItem:hover {
    opacity:0.6;
}

.mediaItem img {
    width:auto;
    height:100%;
    border-radius:2%;
}
.mediaInfo {
    display: block;
    height:300px;
    width:200px;
    background: #000;
    color:white;

}

.searchResult {
    cursor: pointer;
}

.searchResult:hover {
    opacity:0.8;
}


.search {
    background:none;
    border:none;
    font-weight:bold;
    font-size:40px;
    padding:5px 5px 5px 5px;
    width:100%;
}

.search:focus {
    outline:none;
}



